:root {
  --primary-text-color: #212121;
  --accent-text-color: #2196F3;
  --second-text-color: #757575;
  --primary-background-color: #FFFFFF;
  --accent-background-color: #2196F3;
  --button-primary-background: #F5F4FA;
  --footer-background-color: #2F303A;
  --transition-primary: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
}

.section {
  padding: 94px 0;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.button {
  width: 200px;
  height: 50px;
  font-family: inherit;
  font-size: 16px;
  letter-spacing: 0.06em;
  line-height: 1.88;
  color: #FFFFFF;
  background-color: var(--accent-background-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition: background-color var(--transition-primary);
  transition: background-color var(--transition-primary);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.header {
  border-bottom: 1px solid #ECECEC;
}

.cont-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-nav,
.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contacts {
  margin-left: auto;
}

.menu-nav__link,
.contacts__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding-top: 29px;
  padding-bottom: 29px;
  text-decoration: none;
  color: var(--primary-text-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  -webkit-transition: color var(--transition-primary);
  transition: color var(--transition-primary);
}

.menu-nav__link::before {
  content: "";
  position: absolute;
  width: 0;
  bottom: 0;
  right: 0;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-background-color);
  -webkit-transition: width 0.5s, left 0.5s;
  transition: width 0.5s, left 0.5s;
}
.menu-nav__link:hover::before, .menu-nav__link:focus::before {
  width: 100%;
  left: 0;
}
.menu-nav__link:hover, .menu-nav__link:focus {
  color: var(--accent-text-color);
}

.menu-nav__item,
.contacts__item {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu-nav__item:not(:last-child),
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.menu-nav__link--current {
  color: var(--accent-text-color);
}
.menu-nav__link--current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-background-color);
}

.contacts__link {
  color: var(--second-text-color);
}
.contacts__link:hover, .contacts__link:focus {
  color: var(--accent-text-color);
}

.contacts__icon {
  margin: auto 10px auto 0;
  fill: currentColor;
  -webkit-transition: color var(--transition-primary) ease-in-out;
  transition: color var(--transition-primary) ease-in-out;
}
.contacts__icon:hover, .contacts__icon:focus {
  color: var(--accent-text-color);
}

.logo {
  text-decoration: none;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.logo--white {
  color: var(--primary-background-color);
}

.header__logo {
  color: #000000;
  margin-right: 93px;
}

.footer__logo {
  display: inline-block;
  margin-bottom: 20px;
}

.logo__color {
  color: var(--accent-text-color);
}

.herro-section {
  background-color: var(--footer-background-color);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url("../images/hero.jpg");
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero.jpg");
  margin: 0 auto;
  background-position: center;
  height: 600px;
  max-width: 1600px;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.herro-section__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 30px;
}

.herro-section__button {
  font-weight: 700;
}
.herro-section__button:hover, .herro-section__button:focus {
  background-color: #188CE8;
  outline: none;
}

.feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature__item {
  width: 270px;
}
.feature__item:not(:last-child) {
  margin-right: 30px;
}

.feature__logo {
  margin-bottom: 30px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 100%;
  height: 120px;
  background-color: var(--button-primary-background);
  border-radius: 4px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feature__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.feature__text {
  min-height: 75px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.working {
  padding-top: 0;
}

.working__img {
  display: block;
  max-width: 100%;
  height: auto;
}

.working__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.working__item {
  position: relative;
}
.working__item:not(:last-child) {
  margin-right: 30px;
}

.working__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team {
  background-color: #F5F4FA;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.team__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.team__item {
  background: #FFFFFF;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.team__foto {
  display: block;
  max-width: 100%;
  height: auto;
}

.full-name,
.post {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.post {
  font-weight: 400;
  color: var(--second-text-color);
  margin-bottom: 16px;
}

.team-info {
  padding: 30px 0;
}

.soc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.soc-link a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 44px;
  height: 44px;
  /* outline: 1px solid tomato; */
  border-radius: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: background-color var(--transition-primary), fill var(--transition-primary);
  transition: background-color var(--transition-primary), fill var(--transition-primary);
}
.soc-link a:hover, .soc-link a:focus {
  background-color: var(--accent-background-color);
  fill: #FFFFFF;
  outline: none;
}
.soc-link:not(:last-child) {
  margin-right: 10px;
}

.clients {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.clients-item a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  fill: #afb1b8;
  -webkit-transition: border-color var(--transition-primary), fill var(--transition-primary);
  transition: border-color var(--transition-primary), fill var(--transition-primary);
}
.clients-item a:hover, .clients-item a:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}

.btm-works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
.btm-works .item:not(:last-child) {
  margin-right: 8px;
}

.button-filter {
  color: var(--primary-text-color);
  background-color: var(--button-primary-background);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  display: inline-block;
  height: 38px;
  border: 1px solid transparent;
  -webkit-transition: color var(--transition-primary), background-color var(--transition-primary), -webkit-box-shadow var(--transition-primary);
  transition: color var(--transition-primary), background-color var(--transition-primary), -webkit-box-shadow var(--transition-primary);
  transition: color var(--transition-primary), background-color var(--transition-primary), box-shadow var(--transition-primary);
  transition: color var(--transition-primary), background-color var(--transition-primary), box-shadow var(--transition-primary), -webkit-box-shadow var(--transition-primary);
}
.button-filter:hover, .button-filter:focus {
  color: #FFFFFF;
  background-color: var(--accent-background-color);
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.08);
  -webkit-box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}

.examples {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.examples .item {
  width: calc((100% - 60px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  -webkit-transition: -webkit-box-sizing var(--transition-primary), -webkit-box-shadow var(--transition-primary);
  transition: -webkit-box-sizing var(--transition-primary), -webkit-box-shadow var(--transition-primary);
  transition: box-sizing var(--transition-primary), box-shadow var(--transition-primary);
  transition: box-sizing var(--transition-primary), box-shadow var(--transition-primary), -webkit-box-sizing var(--transition-primary), -webkit-box-shadow var(--transition-primary);
}
.examples .item:hover, .examples .item:focus {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.examples .item:nth-child(3n) {
  margin-right: 0;
}
.examples .item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.examples .img {
  display: block;
  max-width: 100%;
  height: auto;
}

.examples-title {
  padding: 20px 24px;
  border-top: 0;
  border-left: 1px solid #EEEEEE;
  border-right: 1px solid #EEEEEE;
  border-bottom: 1px solid #EEEEEE;
}

.work-examples {
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.work-examples-project {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
}

.work-examples-type {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}

.examples-bgr {
  position: relative;
  overflow: hidden;
}

.examples-animation {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  opacity: 0;
  -webkit-transition: opacity var(--transition-primary), -webkit-transform var(--transition-primary);
  transition: opacity var(--transition-primary), -webkit-transform var(--transition-primary);
  transition: opacity var(--transition-primary), transform var(--transition-primary);
  transition: opacity var(--transition-primary), transform var(--transition-primary), -webkit-transform var(--transition-primary);
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.work-examples:hover .examples-animation, .work-examples:focus .examples-animation {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.bgr-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 87%;
  max-height: 57%;
}

.footer-info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

.footer {
  background-color: var(--footer-background-color);
  padding: 60px 0;
}

.address {
  font-style: normal;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
.address .item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-address,
.footer-contacts {
  text-decoration: none;
  color: #FFFFFF;
  display: inline-block;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: color var(--transition-primary);
  transition: color var(--transition-primary);
}
.footer-contacts:hover, .footer-contacts:focus {
  color: var(--accent-text-color);
}

.footer-logo-adress {
  margin-right: 70px;
}

.footer-soc {
  margin-right: 93px;
}
.footer-soc a {
  fill: white;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: background-color var(--transition-primary);
  transition: background-color var(--transition-primary);
}
.footer-soc a:hover,
.footer-soc a:focus {
  background-color: var(--accent-text-color);
}

.footer-soc-title,
.mailing-title {
  color: var(--primary-background-color);
  text-transform: uppercase;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  margin: 12px 0 20px 0;
}

.mailing input {
  width: 358px;
  height: 50px;
  background-color: transparent;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  line-height: 1.25;
}
.mailing input::-webkit-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing input::-moz-placeholder {
  font-size: 16px;
  line-height: 1.25;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing input:-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing input::-ms-input-placeholder {
  font-size: 16px;
  line-height: 1.25;
  -ms-flex-align: center;
      align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.mailing input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.mailing-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 200px;
  height: 50px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  background-color: var(--accent-background-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--primary-background-color);
  -webkit-transition: background-color var(--transition-primary);
  transition: background-color var(--transition-primary);
}
.mailing-button:hover, .mailing-button:focus {
  background-color: #188CE8;
  cursor: pointer;
}

.mailing-icon {
  margin-left: 10px;
}

.backrdop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.backrdop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  overflow: auto;
  padding: 40px;
  background-color: var(--primary-background-color);
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-backrdop-close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  width: 30px;
  height: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 8px 8px 0 0;
  padding: 0;
  cursor: pointer;
  background: var(--primary-background-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 50%;
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.form-field {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.form-field:last-child {
  margin-bottom: 20px;
}

.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  margin-bottom: 4px;
}

.form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border var(--transition-primary);
  transition: border var(--transition-primary);
  padding: 11px 42px;
}
.form-input:hover, .form-input:focus {
  border: 1px solid var(--accent-background-color);
  outline: none;
}

.form-text {
  resize: none;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 4px;
  -webkit-transition: border var(--transition-primary);
  transition: border var(--transition-primary);
}
.form-text::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text::-moz-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text:-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text::-ms-input-placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.form-text:hover, .form-text:focus {
  border: 1px solid var(--accent-background-color);
  outline: none;
}

.input-box {
  position: relative;
}

.modal-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: fill var(--transition-primary);
  transition: fill var(--transition-primary);
}
.form-input:hover + .modal-icon, .form-input:focus + .modal-icon {
  fill: var(--accent-background-color);
}

.checkbox-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-check {
  width: 16px;
  height: 15px;
  border: 1px solid var(--primary-text-color);
  border-radius: 3px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-right: 7px;
}

.checkbox-label {
  font-weight: 400;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.checkbox-label a {
  color: var(--accent-background-color);
}

.check-icon {
  fill: transparent;
}
.checkbox-input:checked + .checkbox-label .check-icon {
  fill: var(--primary-background-color);
}

.checkbox-input:checked + .checkbox-label span {
  background-color: var(--accent-background-color);
  border: 1px solid transparent;
}

.button-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-button {
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background: var(--accent-background-color);
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-background-color);
  border: none;
  -webkit-transition: background-color var(--transition-primary);
  transition: background-color var(--transition-primary);
  cursor: pointer;
}
.modal-button:hover, .modal-button:focus {
  background-color: #188CE8;
}/*# sourceMappingURL=main.css.map */