.header {
    border-bottom: 1px solid #ECECEC;
}

.cont-header {
    display: flex;
    align-items: center;
}

// ============ Menu nav + Contacts ============
.menu-nav,
.contacts {
    display: flex;
}
.contacts {
    margin-left: auto;
}

.menu-nav__link,
.contacts__link {
    display: inline-flex;
    padding-top: 29px;
    padding-bottom: 29px;
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-primary);
}
.menu-nav__link {
    &::before {
            content: '';
            position: absolute;
            width: 0;
            bottom: 0;
            right: 0;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-background-color);
            transition: width 0.5s,
                left 0.5s;
        }
    &:hover::before,
    &:focus::before {
        width: 100%;
        left: 0;
    }
    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.menu-nav__item,
.contacts__item {
    position: relative;
    align-items: center;
    &:not(:last-child) {
            margin-right: 50px;
        }
}

.menu-nav__link--current {
    color: var(--accent-text-color);
    &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-background-color);
        }
}

.contacts__link {
    color: var(--second-text-color);
    &:hover,
    &:focus {
            color: var(--accent-text-color);
        }
}

.contacts__icon {
    margin: auto 10px auto 0;
    fill: currentColor;
    transition: color var(--transition-primary) ease-in-out;
    &:hover,
    &:focus {
            color: var(--accent-text-color);
        }
}