.header {
    border-bottom: 1px solid #ECECEC;
    align-items: center;
    display: flex;
    height: 60px;
}

.cont-header {
    display: flex;
    align-items: center;
    
}

// ============ Menu nav + Contacts ============
.menu-nav,
.contacts {
    display: none;
}
.contacts {
    margin-left: auto;
}

.menu-nav__link,
.contacts__link {
    display: inline-flex;
    padding-top: 29px;
    padding-bottom: 29px;
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color var(--transition-primary);
}
.menu-nav__link {
    &::before {
            content: '';
            position: absolute;
            width: 0;
            bottom: 0;
            right: 0;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-background-color);
            transition: width 0.5s,
                left 0.5s;
        }
    &:hover::before,
    &:focus::before {
        width: 100%;
        left: 0;
    }
    &:hover,
    &:focus {
        color: var(--accent-text-color);
    }
}

.menu-nav__item,
.contacts__item {
    position: relative;
    align-items: center;
    &:not(:last-child) {
            margin-right: 50px;
        }
}

.menu-nav__link--current {
    color: var(--accent-text-color);
    &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 4px;
            border-radius: 2px;
            background-color: var(--accent-background-color);
        }
}

.contacts__link {
    color: var(--second-text-color);
    &:hover,
    &:focus {
            color: var(--accent-text-color);
        }
}

.contacts__icon {
    margin: auto 10px auto 0;
    fill: currentColor;
    transition: color var(--transition-primary) ease-in-out;
    &:hover,
    &:focus {
            color: var(--accent-text-color);
        }
}

// ============ Мобильное меню ============
.mob-menu {
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    padding: 48px 40px;
    .container {
        padding: 0;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }
}

.menu-close-btn {
    position:fixed;
    display: flex;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
&:hover {
    fill: var(--accent-text-color);
}

    outline: 1px solid tomato;
}
.menu-open-btn {
    background: none;
    border: none;
    margin-left: auto;
    padding: 0;
}


.mob-menu-nav__item {
    &:not(:last-child){
        margin-bottom: 32px;
    }
}
.mob-menu-nav__link {
    text-decoration: none;
    color: var(--primary-text-color);
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
}
.mob-contacts__tel {
    text-decoration: none;
    font-weight: 500;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
}
.mob-contacts__item {
    &:not(:last-child) {
        margin-bottom: 32px;
    }
}
.mob-contacts__mail {
    text-decoration: none;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--second-text-color);
}
.mob-contacts {
    margin-bottom: 64px;
}

.mob-soc {
    display: flex;
    flex-wrap: wrap;
    
}
.mob-soc__item {
    position: relative;
    &:not(:last-child) {
        padding-right: 10px;
        border-right: 1px solid rgba(33, 33, 33, 0.2);
        margin-right: 10px;
    }
        
    // &:not(:last-child)::after {
    //         content: '';
    //         position: absolute;
    //         top: 50%;
    //         transform: translateY(-50%);
    //         right: -10px;
    //         width: 1px;
    //         height: 22px;
    //         background-color: rgba(33, 33, 33, 0.2);
    //     }
}

.mob-soc__link {
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.23;
    letter-spacing: 0.02em;
    color: var(--accent-text-color);
    // &:not(:last-child) {
    //         margin-right: 10px;
    // }
}