.herro-section {
    background-color: var(--footer-background-color);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/hero.jpg');
    margin: 0 auto;
    background-position: center;
    height: 600px;
    max-width: 1600px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.herro-section__title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
}

.herro-section__button {
    font-weight: 700;
    &:hover,
    &:focus {
            background-color: #188CE8;
            outline: none;
        }
}