.feature {
    display: flex;
    justify-content: space-between;
}

.feature__item {
    width: 270px;
    &:not(:last-child) {
            margin-right: 30px;
        }
}

.feature__logo {
    margin-bottom: 30px;
    display: inline-flex;
    width: 100%;
    height: 120px;
    background-color: var(--button-primary-background);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.feature__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.feature__text {
    min-height: 75px;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}