.herro-section {
    background-color: var(--footer-background-color);

    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url('../images/herro-mob.jpg');
    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url('../images/herro-mob-2x.jpg');
        }
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    // height: 600px;
    max-width: 1600px;
    text-align: center; 
    padding-top: 118px;
    padding-bottom: 118px;
    @include tablet {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/herro-tab.jpg');
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url('../images/herro-tab-2x.jpg');
            }
    }
    @include desktop {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                url('../images/herro-desktop.jpg');
        
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
                    url('../images/herro-desktop-2x.jpg');
            }
        padding-top: 200px;
        padding-bottom: 200px;
    }
}

.herro-section__title {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 30px;
    @include desktop {
        font-size: 44px;
        line-height: 1.37;
    }
}

.herro-section__button {
    font-weight: 700;
    &:hover,
    &:focus {
            background-color: #188CE8;
            outline: none;
        }
}