.feature {
    @include tablet {
            display: flex;
            flex-wrap: wrap;
    }
    @include desktop {
        flex-wrap: nowrap;
    }
}

.feature__item {
    // width: 100%;
    &:not(:last-child) {
        margin-bottom: 30px;
    }
    @include tablet {
        width: calc(100% / 2 - 15px);
        &:nth-child(2n + 1) {
        margin-right: 30px;
        }
        &:nth-last-child(-n + 2) {
        margin-bottom: 0;
        }
        
    }
    @include desktop {
        width: calc(100% / 4 - 15px);
        &:not(:last-child) {
                margin-right: 30px;
            }
        &:nth-child(-n + 2) {
            margin-bottom: 0;
        }
    }
}

.feature__logo {
    margin-bottom: 30px;
    display: inline-flex;
    width: 100%;
    height: 120px;
    background-color: var(--button-primary-background);
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.feature__title {
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
    @include tablet {
    text-align: left;
    font-weight: 700;
    }
}

.feature__text {
    // min-height: 75px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--second-text-color);
}