body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    background-color: var(--primary-background-color);
    color: var(--primary-text-color)
}

.section {
    padding: 94px 0;
}

.container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin: 0;
    padding: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list {
    list-style: none;
    padding: 0;
    margin: 0;
}
.button {
    width: 200px;
    height: 50px;
    font-family: inherit;
    font-size: 16px;
    letter-spacing: 0.06em;
    line-height: 1.88;
    color: #FFFFFF;
    background-color: var(--accent-background-color);
    cursor: pointer;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    transition: background-color var(--transition-primary);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}