:root {
    --primary-text-color: #212121;
    --accent-text-color: #2196F3;
    --second-text-color: #757575;
    --primary-background-color: #FFFFFF;
    --accent-background-color: #2196F3;
    --button-primary-background: #F5F4FA;
    --footer-background-color: #2F303A;
    --transition-primary: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}